/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    --body-bg-color: #040404;
    --text-color: rgba(255, 255, 255, 0.7);
    --color-h1-color: #9d4edd;
    --colorh2-color: rgb(124, 122, 122);
    --fondo-proyectos: rgb(84, 84, 85);
}
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
h1 {
    color: var(--text-color)
}
h2{
    color: var(--color-h1-color);
}
.subtitulos{
    margin-bottom: 5%;
}
span{
    color: var(--color-h1-color);
}
.title {
    display: flex;
    margin: 3rem;
}
.social-links {
    margin-top: 40px;
    display: flex;
}

.social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    background: #9d4edd;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #7b2cbf;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
    display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid #fff;
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main-container {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .titulo {
        justify-content: center;
    }
    .navigation {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .title {
        justify-content: center;
    }
    .navigation {
        gap: 2rem;
        justify-content: center;
    }
}
@media (min-width: 1024px) {
    .title {
        justify-content: center;
    }
    .navigation {
        gap: 3rem;
        justify-content: fixed-end;
        margin: 0 3rem;
    }
}